version: "3.8"

services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - ./data:/app/data
      - .:/app
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - PORT=80
