apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - service.yaml
  - deployment.yaml
  - ingress.yaml
  - middleware.yaml
  - ingress-pwa-no-cache.yaml

images:
  - name: ghcr.io/goalixa/app
    newName: harbor.goalixa.com/goalixa-app/app
    newTag: latest  # Change this to specific commit SHA for each deployment
